Repository ltlaitoff/WEB-University: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:file, npm run lint:file

.lintstagedrc.json:

{
  "*.{ts,vue}": ["npm run format:file", "npm run lint:file"],
  "*.css": ["npm run format:file"]
}

chore: Install vue-eslint-parser
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

chore: Config prettier and eslint
  .eslintrc.json
  .prettierignore
  .prettierrc.json
Due: none

chore: Initialize tailwind
  .lintstagedrc.json
  postcss.config.js
  src/style.css
  tailwind.config.js
Due: npm run format:file

feat: Remove default code
  src/App.vue
  src/assets/vue.svg
  src/components/HelloWorld.vue
Due: npm run format:file, npm run lint:file

docs: Create basic functions describe
  docs/elements.md
Due: none

Create basic app
  index.html
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/assets/icons/bed.svg
  src/assets/icons/brain.svg
  src/assets/icons/cup.svg
  src/assets/icons/fastForward.svg
  src/assets/icons/pause.svg
  src/assets/icons/play.svg
  src/assets/icons/stop.svg
  src/components/ControlButtons.vue
  src/components/SelectMode.vue
  src/components/TimerDigit.vue
  src/pages/HomePage.vue
  src/types/ModeItem.ts
  src/types/index.ts
  vite.config.ts
Due: npm run format:file, npm run lint:file

feat: Create basic types
  src/types/Category.ts
  src/types/Colors.ts
  src/types/Mode.ts
  src/types/ModeItem.ts
  src/types/RightPanelModes.ts
  src/types/Statistic.ts
  src/types/index.ts
Due: npm run format:file, npm run lint:file

chore: Install pinia, vue-router and @types/node
  package.json
  pnpm-lock.yaml
Due: none

chore: Create basic aliases
  tsconfig.json
  vite.config.ts
Due: npm run format:file, npm run lint:file

feat: Create categories store
  src/store/categoriesStore.ts
Due: npm run format:file, npm run lint:file

feat: Create userSettingsStore
  src/store/userSettingsStore.ts
Due: npm run format:file, npm run lint:file

feat: Create statisticStore
  src/store/statisticStore.ts
Due: npm run format:file, npm run lint:file

feat: Import icons
  src/assets/icons/minus.svg
  src/assets/icons/plus.svg
  src/assets/icons/trash.svg
Due: none

chore: Add /node_modules to eslint ignore
  .eslintignore
Due: none

feat: Create RightPanel
  src/components/RightPanel/CategoryForm.vue
  src/components/RightPanel/CategoryPanel.vue
  src/components/RightPanel/PanelButtons.vue
  src/components/RightPanel/RightPanel.vue
  src/components/RightPanel/SettingsPanel.vue
  src/components/RightPanel/StatisticPanel.vue
Due: npm run format:file, npm run lint:file

feat: Create basic components
  src/components/CategorySelect.vue
  src/components/ColorPicker.vue
  src/components/ControlButtons.vue
  src/components/HelloWorld.vue
  src/components/ModeShild.vue
  src/components/NumberInput.vue
  src/components/SelectMode.vue
  src/components/TimerDigit.vue
  src/components/TimerTime.vue
Due: npm run format:file, npm run lint:file

feat: Create basic styles
  src/style.css
Due: npm run format:file

feat: HomePage
  index.html
  src/App.vue
  src/main.ts
  src/pages/HomePage.vue
Due: npm run format:file, npm run lint:file

chore: Install @trivago/prettier-plugin-sort-imports
  package.json
  pnpm-lock.yaml
Due: none

chore: Create aliases with prettier formatting
  .prettierrc.json
  tsconfig.json
  vite.config.ts
Due: npm run format:file, npm run lint:file

refactor: Refactor all files and use aliases
  README.md
  src/App.vue
  src/components/CategorySelect.vue
  src/components/ColorPicker.vue
  src/components/ControlButtons.vue
  src/components/ModeShild.vue
  src/components/NumberInput.vue
  src/components/RightPanel/CategoryForm.vue
  src/components/RightPanel/CategoryPanel.vue
  src/components/RightPanel/RightPanel.vue
  src/components/RightPanel/SettingsPanel.vue
  src/components/RightPanel/StatisticPanel.vue
  src/components/SelectMode.vue
  src/main.ts
  src/pages/HomePage.vue
  src/store/categoriesStore.ts
  src/store/statisticStore.ts
  src/store/userSettingsStore.ts
  tsconfig.node.json
Due: npm run format:file, npm run lint:file

feat: Change Mode type to enum
  src/components/ModeShild.vue
  src/components/RightPanel/SettingsPanel.vue
  src/components/SelectMode.vue
  src/pages/HomePage.vue
  src/store/userSettingsStore.ts
  src/types/Mode.ts
Due: npm run format:file, npm run lint:file

refactor: Refactor RightPanel, categories and statistic stores
  src/App.vue
  src/components/CategorySelect.vue
  src/components/ColorPicker.vue
  src/components/ModeShild.vue
  src/components/NumberInput.vue
  src/components/RightPanel/CategoryForm.vue
  src/components/RightPanel/CategoryPanel.vue
  src/components/RightPanel/SettingsPanel.vue
  src/components/RightPanel/StatisticPanel.vue
  src/components/TimerDigit.vue
  src/components/TimerTime.vue
  src/constants/index.ts
  src/constants/modeText.ts
  src/constants/tailwindColorsIgnore.ts
  src/pages/HomePage.vue
  src/store/categoriesStore.ts
  src/store/statisticStore.ts
  src/types/AddNewCategory.ts
  src/types/AddNewStatistic.ts
  src/types/index.ts
Due: npm run format:file, npm run lint:file

refactor: Rename RightPanel to LeftPanel
  src/App.vue
  src/components/LeftPanel/CategoryForm.vue
  src/components/LeftPanel/CategoryPanel.vue
  src/components/LeftPanel/LeftPanel.vue
  src/components/LeftPanel/PanelButtons.vue
  src/components/LeftPanel/SettingsPanel.vue
  src/components/LeftPanel/StatisticPanel.vue
  src/types/LeftPanelModes.ts
  src/types/RightPanelModes.ts
  src/types/index.ts
Due: npm run format:file, npm run lint:file

feat: Create approaches in userSetting and setting in panel
  src/components/LeftPanel/SettingsPanel.vue
  src/constants/approachesLimits.ts
  src/constants/index.ts
  src/pages/HomePage.vue
  src/store/userSettingsStore.ts
Due: npm run format:file, npm run lint:file

feat: Updated approaches functional
  src/pages/HomePage.vue
  src/store/userSettingsStore.ts
Due: npm run format:file, npm run lint:file

feat: Add currentApproach to store
  src/pages/HomePage.vue
  src/store/userSettingsStore.ts
Due: npm run format:file, npm run lint:file

feat: Copy timer from vue-timer-hook
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/packages/.gitkeep
  src/packages/timer/hooks/index.ts
  src/packages/timer/hooks/useInterval.ts
  src/packages/timer/index.ts
  src/packages/timer/useTimer.ts
  src/packages/timer/utils/Time.ts
  src/packages/timer/utils/Validate.ts
  src/packages/timer/utils/index.ts
  src/pages/HomePage.vue
Due: npm run format:file, npm run lint:file

feat: Create vCloseModal directive
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/components/CategorySelect.vue
  src/components/LeftPanel/CategoryPanel.vue
  src/components/SelectMode.vue
  src/directives/closeModal.ts
  src/directives/index.ts
  src/main.ts
  tmp/test.ts
  tsconfig.json
  vite.config.ts
Due: npm run format:file, npm run lint:file

fix: Fix statistic panel
  src/components/LeftPanel/StatisticPanel.vue
Due: npm run format:file, npm run lint:file

feat: Create adaptive
  src/components/CategorySelect.vue
  src/components/LeftPanel/CategoryPanel.vue
  src/components/LeftPanel/LeftPanel.vue
  src/components/LeftPanel/PanelButtons.vue
  src/components/LeftPanel/SettingsPanel.vue
  src/components/TimerTime.vue
Due: npm run format:file, npm run lint:file

feat(2): Rename default category
  src/store/categoriesStore.ts
Due: npm run format:file, npm run lint:file

fix(3): Change pomodoro timers default value to normal
  src/store/userSettingsStore.ts
Due: npm run format:file, npm run lint:file

chore(5): Install vue-i18n
  package.json
  pnpm-lock.yaml
Due: none

feat(5): Connect i18n vue to project
  src/main.ts
Due: npm run format:file, npm run lint:file

chore(5): Install vue-i18n eslint plugin
  package.json
  pnpm-lock.yaml
Due: none

chore(5): Setting up eslint
  .eslintrc.json
Due: none

feat(5): Init base i18n texts
  src/assets/i18n/en/translation.json
  src/components/LeftPanel/CategoryForm.vue
  src/main.ts
Due: npm run format:file, npm run lint:file

feat(5): Finish all translation
  src/assets/i18n/en/translation.json
  src/components/LeftPanel/CategoryPanel.vue
  src/components/LeftPanel/SettingsPanel.vue
  src/components/LeftPanel/StatisticPanel.vue
Due: npm run format:file, npm run lint:file

chore: Rename pomodoro to lapomo
  README.md
  docs/elements.md
  package.json
  tsconfig.json
Due: none
